@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Management Application</h1>
    <p class="lead">Project Management Application has 4 functionality Add Project, Add User, Add Task for projects and View Task</p>
   
</div>
