
    body {
        background-color: #C8C8C8;
    }
   
    /* navigation bar*/
    .out {
        background-color: lightgrey;
        margin-top: 0;
    }
    /* allignment center*/
    .lab {
        padding: 8px 10px 10px 160px;
        color: blue;
    }

    .txt {
        padding: 0px 0px 8px 160px;
    }



.txt1 {
    padding: 0px 0px 8px 160px  ;
}
  


.link-button-red:visited, .link-button-red:link {
    background: red none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    outline: medium none;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.link-button-red:hover, .link-button-red:active {
    Background-color: red;
    Color: white !important;
    font-weight: bold;
}

.link-button-Purple:visited, .link-button-Purple:link {
    background: #8E44AD none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    outline: medium none;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.link-button-Purple:hover, .link-button-Purple:active {
    Background-color: #8E44AD;
    Color: white !important;
    font-weight: bold;
}

.pad {
    padding-left: 15px;
}

.padu {
    padding-top: 5px;
    display: inline-block;
    font-weight: bold;
}

.display {
    display: inline-block;
    height: 200px;
    padding: 0;
    border: 0;
    margin: 10px;
}

.cell {
    padding: 10px;
}

#from {
    background: url('http://jqueryui.com/resources/demos/datepicker/images/calendar.gif') no-repeat;
    border: 1px solid #ccc;
    height: 18px;
    width: 100px;
    padding-left: 25px;
}