body {
    background-color: #C8C8C8;
}


/* navigation bar*/

.out {
    background-color: lightgrey;
    margin-top: 0;
}





/* allignment center*/

.lab {
    padding: 8px 10px 10px 160px;
    color: blue;
}

.txt {
    padding: 0px 0px 8px 160px;
}

/* slider css*/
