
body {
    background-color: #C8C8C8;
}




.link-button-green:visited, .link-button-green:link {
    background: darkgreen none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    outline: medium none;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.link-button-green:hover, .link-button-green:active {
    Background-color: darkgreen;
    Color: black !important;
    font-weight: bold;
}

/* navigation bar*/

.out {
    background-color: lightgrey;
    margin-top: 20px;
}


/* allignment center*/

.lab {
    padding: 8px 10px 10px 160px;
    color: blue;
}

.txt {
    padding: 0px 0px 8px 160px;
}

.pad {
    padding-left: 15px;
}

.padu {
    padding-top: 5px;
    display: inline-block;
    font-weight: bold;
}

.display {
    display: inline-block;
    height: 125px;
    padding: 0;
    border: 0;
    margin: 10px;
}

.pro {
    padding: 5px 0 0 10px;
    color: brown;
}
